.new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    &--form {
        width: 100%;
        max-width: 500px;
        padding: 15px;
        margin: auto;
    }

    &--input {
        padding: 20px;
        margin: 10px 0;

        &:focus {
            border-color: rgba(255, 199, 32, 0.8);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
                0 0 8px rgba(255, 199, 32, 0.6);
            outline: 0 none;
        }
    }
}
