<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
        link(rel="stylesheet" href="/style.css")
        title MountCamp
    body.bg-dark.dark
        nav(class="navbar navbar-expand-md navbar-dark bg-dark mb-4" aria-label="navbar")
            div(class="container-fluid container")
                a(class="navbar-brand" href="/") MountCamp
                div(class="collapse navbar-collapse" id="menu")
                    ul(class="navbar-nav mb-2 mb-md-0 ms-auto")
                        li(class="nav-item")
                            a(class="nav-link" aria-current="page" href="") Login
                        li(class="nav-item")
                            a(class="nav-link" aria-current="page" href="") Sign Up
                        li(class="nav-item")
                            a(class="nav-link" aria-current="page" href="") Logout
                button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")


        block content
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")